.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* MAIN CONTENT AREA */
.main-content {
  margin-left: 280px; /* same width as sidebar */

  flex: 1;
  height: 100vh;

  overflow-y: auto; /* only content scrolls */
  padding: 30px;

  background: #f8f8f8;
}