.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* MAIN CONTENT AREA */
.main-content {
 
  width: 100%;
  flex: 1;
  height: 100vh;

  overflow-y: auto;

  /* 🔥 CENTER EVERYTHING PROPERLY */
  display: flex;
  justify-content: stretch;   /* horizontal center */
  align-items: flex-start;   /* top aligned */

  padding: 40px 20px;

  background: #f8f8f8;
}
